.container {
    width: 100%;
    background: #000000;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

/* ======card======== */

.card__container {
    max-width: 359px;
    height: 300px;
    background: #FFFFFF;
    margin: 0 15px;
    margin-bottom: 35px;
}
.card__blocks{
    max-width: 1116px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


.img__block {
    width: 320px;
    height: 160px;
    background: #C4C4C4;
    margin: 0 auto;
    padding-top: 20px;
}


h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 90px;
    align-items: center;
}


.under__title {
    display: flex;

}


.star{
    padding-left: 70px;

}
.comment{
    display: flex;
    margin-top: 10px;
    padding: 0px 20px;
}

.star_block{
    margin-right: 130px;
}
/* ======card======== */