.container {
    max-width: 100%;
    background-color: #FFFFFF;
}


.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;
}


hr {
    border: 1px solid #000000;
    max-width: 930px;
}

.blocks>span {
    display: block;
    min-width: 170px;
    min-height: 170px;
    background: #C4C4C4;
}

.blocks {
    padding-bottom: 133px;
    display: flex;
    justify-content: center;
    margin: 30px 60px 0 30px;
    gap: 110px;
    flex-wrap: wrap;
}